@model BonusSystem.Models.ViewModels.ViewBonusCard_Money

@{
    ViewBag.Title = "Credit funds to a card";
}

<h1>Зачисление средств на карту</h1>

<h3>Card number: @Model.Card.Number</h3>
<p>Balance: @Model.Card.Balance</p>
<p>CardId: @Model.Card.ClientId</p>

@if (Model.Card.ExpirationDate > DateTime.Now)
{
    <form asp-antiforgery="true" asp-action="credit" asp-controller="card">
        <div>
            <input type="hidden" asp-for="Card.Id" value="@Model.Card.Id" />

            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Money" class="control-label">Money</label>
                <input type="number" asp-for="Money" class="form-control" />
                <span asp-validation-for="Money"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </form>
}
else
{
    <div class="alert alert-danger" role="alert">
        Срок действия карты истек @Model.Card.ExpirationDate
    </div>
}

<a asp-controller="Client" asp-action="View" asp-route-id="@Model.Card.ClientId">Назад</a>



@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
